
body{
   
    background-image: url("img/easter-2168521_1280.webp");
    color:#666;

}

h1{
    text-align: center;
    color:rgb(169, 204, 43);
}



.cleafix{
    clear:both
}

#container{
    width: 350px;
    overflow: auto;
    margin: 40px auto;
    background: rgba(255,255,255,.2);
    padding-bottom: 40px;
    border-radius: 10px;
    
}


#board li{
   
    float: left;
    margin: 10px;
    height: 70px;
    width: 70px;
    font-size: 55px;
    background: #333;
    color: #ccc;
    list-style: none;
    text-align: center;
    border-radius: 5px;

}

#board li:hover{
    cursor: pointer;
    background: #000;

}


#reset{
    border:0;
    background: rgb(68, 68, 68);
    color:rgb(117, 204, 66);
    width: 70%;
    padding: 15px;
    border-radius: 5px;
}

.o{
     color : gray; 
}

.x{
    color: gray;
}

footer{
    display: block;
    text-align: center;
    padding-top: 20px;
}
