



h1{
    text-align: center;
}

h3{
    text-align: center;
}

h4{ text-align: center;}


body{
    background-color: pink;
}

.row{
    background-color: white;
    width: 60%;
    height: 160px;
    padding: auto;
    margin: auto;
   display: flex;
    
}

.row-1{
    border-bottom: 5px black solid;
}

.row-2{
    border-bottom: 5px black solid;
}

.col-1{
    border-right: 5px black solid ;
}
.col-2{
    border-right:5px black solid;

}
.box{
    width: 33.333%;
    text-align: center;
    font-size: 500%;
}